GLOBAL_LLM_SERVICE="AzureOpenAI"

# Only Used For Running Samples Using GitHub Models 
GITHUB_TOKEN="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"

# For Running Samples Using Azure AI Agent Service 
PROJECT_ENDPOINT="..."

# Only Used For Running Samples Using Azure OpenAI Service + Azure Search 
AZURE_OPENAI_API_KEY="CYMZ65xAOuFFSlvUou9IcPUxHLDI5O96DgRDlbvWKzvie0SBVGgzJQQJ99BGACmepeSXJ3w3AAAAACOGrIvE"
AZURE_OPENAI_ENDPOINT="https://aihub0013571919815.services.ai.azure.com/"
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME="..."
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME="..."
AZURE_OPENAI_API_VERSION="..."
AZURE_SEARCH_SERVICE_ENDPOINT = "https://..."
AZURE_SEARCH_API_KEY = "..."
AZURE_SUBSCRIPTION_ID="..."
AZURE_AI_PROJECT_NAME="..."
AZURE_OPENAI_RESOURCE_GROUP="..."
AZURE_OPENAI_SERVICE="..."
AZURE_AI_AGENT_MODEL_DEPLOYMENT_NAME="..."
AZURE_AI_AGENT_PROJECT_CONNECTION_STRING="EQUALS PROJECT_CONNECTION_STRING"
AZURE_OPENAI_DEPLOYMENT_NAME="EQUALS AZURE_OPENAI_CHAT_DEPLOYMENT_NAME"
